h1 {
	margin: 0;
	font-size: var(--lumo-font-size-xl);	
}

.price-up::after {
	padding-left: 5px;
	font-family: lumo-icons;
	content: var(--lumo-icons-arrow-up);
	color: green;
}

.price-down::after {
	padding-left: 5px;
	font-family: lumo-icons;
	content: var(--lumo-icons-arrow-down);
	color: red;
}

.price-equal::after {
	padding-left: 5px;
	content: '=';
	color: orange;
}

.price-panel {
	box-shadow: var(--lumo-box-shadow-s);
	font-size: var(--lumo-font-size-xl);
	width: 210px;
	height: 80px;
}
